#showcase .showcase-content p {
    font-size: 24px;
    margin: 50px;
}

#section-2 .img-container {
    flex-direction: column;
}

#section-2 .img-container .images {
    width: 500px;
    height: 400px;
    margin: 30px;
}

#section-2 > p {
    color: #fff;
    padding: 20px;
}

.img {
    width: 100%;
    height: 70%;
}

#section-3 .container .flex-container {
    display: flex;
    flex-direction: column;
}

#section-3 .container .flex-container .list-container {
    width: 100%;
    margin: 0 10px;
}

#section-3 .container .flex-container .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#section-4 .heading {
    font-size: 30px;
    color: #fff;
    padding: 80px 10px 50px 10px;
}

#section-4 .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#section-4 .img-container .images {
    height: 280px;
    width: 330px;
    background-color: rgb(41, 64, 59);
    border-radius: 5px;
    margin: 30px;
}

#section-4 .img-container .images .img {
    height: 200px;
}

#section-4 .img-container .images p {
    color: #999;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 500px) {

    #navbar .menu-logo {
        display: none;
    }

    #navbar .menu-wrap {
        display: block;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
      
    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        color: rgb(204, 0, 170);
        width: 50px;
        height: 50px;
        opacity: 0;
    }
      
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    /* Hamburger Line */
    .menu-wrap .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
      
    /* Hamburger Lines - Top & Bottom */
    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
      
    /* Moves Line Down */
    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
      
    /* Toggler Animation */
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
      
    /* Turns Lines Into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
      
    /* Rotate On Hover When Checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
      
    /* Show Menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
      
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 0.7s;
    }
      
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
      
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        width: 200vh;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul > li > a:hover {
        color: rgb(204, 0, 170);
    }

    #showcase .showcase-content p{
        margin: 32px 20px;
    }

    #section-2 .heading {
        padding: 96px 10px 32px 10px;
    }

    #section-2 .img-container .images {
        width: 320px;
        height: 300px;
        margin: 30px;
    }

    #section-2 > p {
        color: #fff;
        padding: 20px;
    }

    .img {
        width: 100%;
        height: 70%;
    }

    #section-3 {
        text-align: center;
    }

    #section-3 .container .flex-container {
        display: flex;
        flex-direction: column;
    }

    #section-3 .container .flex-container .list-container {
        width: 100%;
        margin: 10px;
    }

    #section-3 .container .flex-container .grid-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    #section-4 .heading {
        padding: 96px 15px 32px 15px;
    }

    #footer {
        padding-bottom: 30px;
    }

    #footer .footer-container {
        display: block;
        justify-content: center;
        text-align: center;
    }

    #footer .footer-container div {
        width: 100%;
        padding: 5rem 2rem 2rem 2rem;
    }
}